*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dd809f;
    
}
.container{
    display: flex;
    
}
.triangle-square,.square-square,.circle-square{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:30px;
    border-radius: 40px;
    width: 400px;
    height: 400px;
    background-color: #2c2b2b	;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: 0.3s;




}


.sq:hover, path:hover {
    fill:#747CCC !important;
    transition: 0.3s;

}

.shadow{
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


.triangle{
    filter:rgb(221, 128, 159) ;
      
}


.box-bounce {
    animation-name: box-bounce;
    animation-timing-function: linear;
}
@keyframes box-bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-25px); }
    100% { transform: translateY(0); }
}